<html>
    <head>
        <title>PKP Plugins List</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
        .tiny {
          font-size: 10px
        }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>PKP Plugins</h1>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th  style="max-width: 150px" scope="col">Plugin Name</th>
                            {{#releaseVersions}}
                                <th class="text-center" scope="col">{{version}}</th>
                            {{/releaseVersions}}
                            {{! <th scope="col">Localisation</th> }}
                        </tr>
                    </thead>
                    <tbody>
                        {{#plugins}}
                        <tr>
                            <th scope="row">{{idx}}</th>
                            <td style="max-width: 150px;overflow: scroll;text-overflow: ellipsis;">
                                <a href="{{{url}}}">{{name}}</a>
                            </td>
                            {{#compatibilityMatrix}}
                                {{^.}}
                                    <td class="text-secondary text-center">-</td>
                                {{/.}}
                                {{#.}}
                                    <td class="text-center">
                                        <small>Package: <a href="{{{url}}}">{{date}} {{pluginVersion}}</a>
                                        </small>
                                        <br/><br/>
                                        {{#hasBranch}}
                                          <small class="tiny text-success">
                                            <a target="_blank" href="{{{.}}}">Remote branch</a>
                                          </small>
                                        {{/hasBranch}}
                                        {{^hasBranch}}
                                          <small class="tiny text-muted">No matching branch</small>
                                        {{/hasBranch}}
                                    </td>
                                {{/.}}
                                
                            {{/compatibilityMatrix}}
                        </tr>
                        {{/plugins}}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>